body{
    background-color: whitesmoke;
    font-family:'Courier New', Courier, monospace;
}

.wrapper{
    margin: auto;
    width: 60%;
}

h2{
    font-weight: 600;
    color: rgba(255, 68, 0, 0.801);
}

#generate-data{
    background-color: blue;
    padding: 15px;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
    font-family:'Courier New', Courier, monospace;
    transition:all 1s ease;
}

#generate-data:hover{
    padding: 20px;
    background-color: rgba(255, 68, 0, 0.801);
}

.services-table{
    margin-top: 50px;
    display: none;
}

table{
    width: 100%;
    color: rgba(255, 68, 0, 0.801);
    border:none;
    border-spacing: 0;

}

tr:nth-child(odd){
    background-color: rgba(128, 128, 128, 0.1);
}

th, td{
    padding: 20px;
}